.button{
  height: 3rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-weight: 500;
  background-color: var(--purple-500);
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  gap: 0.5rem;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }
}